/* Place CSS styles here */
html{
    scroll-behavior: smooth;
}


/* homepage*/
span{
    color:#00c200;
}
h1{
    color: purple;
}
h3{
    color: palevioletred;
}

p{
    color: #1b1b1b;
    background-color: orange;
}